<launch>

 <param name="initial_package" type="string" value="knowrob_map_tools" />
  <param name="initial_goal" type="string" value="owl_parse('package://sherpa_world/owl/SemanticMapSherpa.owl')" />
  <node name="json_prolog" pkg="json_prolog" type="json_prolog_node" cwd="node" output="screen" />

 <!--node pkg="tf" 
	type="static_transform_publisher" 
	name="world_to_map_frame_publisher" 
	args="0 0 0 0 0 0 1 world map 200">
  </node-->
</launch>
